<?xml version="1.0"?>
<config>
    <modules>
        <PagueVeloz_Boleto>
            <version>1.0.2</version>
        </PagueVeloz_Boleto>
    </modules>
    <global>
        <helpers>
            <pagueveloz_boleto>
                <class>PagueVeloz_Boleto_Helper</class>
            </pagueveloz_boleto>
        </helpers>
        <blocks>
            <pagueveloz_boleto>
                <class>PagueVeloz_Boleto_Block</class>
            </pagueveloz_boleto>
        </blocks>
        <models>
            <pagueveloz_boleto>
                <class>PagueVeloz_Boleto_Model</class>
                <resourceModel>pagueveloz_boleto_mysql4</resourceModel>
            </pagueveloz_boleto>
            <pagueveloz_boleto_mysql4>
                <class>PagueVeloz_Boleto_Model_Mysql4</class>
                <entities>
                    <boleto>
                        <table>pagueveloz_boleto</table>
                    </boleto>
                </entities>
            </pagueveloz_boleto_mysql4>
        </models>
        <resources> 
            <pagueveloz_boleto_setup>
                <setup>
                    <module>PagueVeloz_Boleto</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pagueveloz_boleto_setup>
            <pagueveloz_boleto_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pagueveloz_boleto_write>
            <pagueveloz_boleto_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pagueveloz_boleto_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <pagueveloz_boleto>
                    <file>pagueveloz_boleto.xml</file>
                </pagueveloz_boleto>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <PagueVeloz_Boleto before="Mage_Adminhtml">PagueVeloz_Boleto_Adminhtml</PagueVeloz_Boleto>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <pagueveloz_boleto>
                    <file>pagueveloz_boleto.xml</file>
                </pagueveloz_boleto>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <payment>
            <pagueveloz_boleto>
                <active>0</active>
                <production>0</production>
                <model>pagueveloz_boleto/boletoMethod</model>
                <order_status>pending</order_status>
                <title>Boleto</title>
                <allowspecific>0</allowspecific>
                <instructions>Pague em qualquer banco</instructions>
            </pagueveloz_boleto>
        </payment>
    </default>
    <crontab>
        <jobs>
            <pagueveloz_boleto>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>pagueveloz_boleto/cron::verificaBoletoPago</model>
                </run>
            </pagueveloz_boleto>
        </jobs>
    </crontab>
</config>