<?xml version="1.0"?>
<config>
    <modules>
        <PagueVeloz_Sms>
            <version>1.0.1</version>
        </PagueVeloz_Sms>
    </modules>
    <global>
        <helpers>
            <pagueveloz_sms>
                <class>PagueVeloz_Sms_Helper</class>
            </pagueveloz_sms>
        </helpers>
        <blocks>
            <pagueveloz_sms>
                <class>PagueVeloz_Sms_Block</class>
            </pagueveloz_sms>
        </blocks>
        <models>
            <pagueveloz_sms>
                <class>PagueVeloz_Sms_Model</class>
                <resourceModel>pagueveloz_sms_mysql4</resourceModel>
            </pagueveloz_sms>
            <pagueveloz_sms_mysql4>
                <class>PagueVeloz_Sms_Model_Mysql4</class>
                <entities>
                    <sms>
                        <table>pagueveloz_sms</table>
                    </sms>
                    <template>
                        <table>pagueveloz_sms_template</table>
                    </template>
                </entities>
            </pagueveloz_sms_mysql4>
        </models>
        <resources> 
            <pagueveloz_sms_setup>
                <setup>
                    <module>PagueVeloz_Sms</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pagueveloz_sms_setup>
            <pagueveloz_sms_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pagueveloz_sms_write>
            <pagueveloz_sms_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pagueveloz_sms_read>
        </resources>
        <events>
            <sales_order_save_after>
                <observers>
                    <pagueveloz_sms>
                        <type>singleton</type>
                        <class>pagueveloz_sms/observer</class>
                        <method>after_save_order</method>
                    </pagueveloz_sms>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
    <crontab>
        <jobs>
            <pagueveloz_sms_send>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>pagueveloz_sms/cron::sendSMS</model>
                </run>
            </pagueveloz_sms_send>
        </jobs>
    </crontab>
    <frontend>
        <layout>
            <updates>
                <pagueveloz_sms>
                    <file>pagueveloz_sms.xml</file>
                </pagueveloz_sms>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <PagueVeloz_Sms before="Mage_Adminhtml">PagueVeloz_Sms_Adminhtml</PagueVeloz_Sms>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <pagueveloz_sms>
                    <file>pagueveloz_sms.xml</file>
                </pagueveloz_sms>
            </updates>
        </layout>
    </adminhtml>
</config>